<ion-header>
  <ion-navbar>
    <ion-title>To-Do List App</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item-group  *ngFor = "let cat of categories">
    <ion-card class = "card-md todo-card todo-card-{{cat['colour']}}" *ngFor = "let item of cat['todos']">
      <ion-card-header class = "todo-header"><b>{{item['body']}}</b></ion-card-header>
      <ion-card-content>
        <ion-note class = "todo-category" color = "{{cat['colour']}}">Category : <b>{{cat['name']}}</b></ion-note>
      </ion-card-content>

      <ion-row>
        <button ion-button clear small color = "primary" (click) = "deleteTodo(cat['name'],item['uid'])">I'm Done</button>
      </ion-row>
    </ion-card>

  </ion-item-group>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click) = "gotoNewTodo()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
